<div class="container">

  <div class="left-side">

    <div class="pro-img">
      <img src="profile/Profile Image.png" />

        <button class="submit-btn">Update Profile Picture</button>
      
    </div>
    <br><br>
    <div class="info">
      <div class="info-body">
        <div class="info-text">
          Personal Info.
        </div>
        <div class="any">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M14.0737 3.88539C14.8189 3.07802 15.1915 2.67434 15.5874 2.43887C16.5427 1.8707 17.7191 1.85303 18.6904 2.39226C19.0929 2.61574 19.4769 3.00806 20.245 3.7927C21.0131 4.57734 21.3972 4.96966 21.6159 5.38087C22.1438 6.37306 22.1265 7.57473 21.5703 8.55064C21.3398 8.9551 20.9446 9.33572 20.1543 10.0969L10.7506 19.1542C9.25288 20.5968 8.504 21.3181 7.56806 21.6836C6.63212 22.0492 5.6032 22.0223 3.54536 21.9685L3.26538 21.9612C2.63891 21.9448 2.32567 21.9366 2.14359 21.7299C1.9615 21.5233 1.98636 21.2042 2.03608 20.5661L2.06308 20.2196C2.20301 18.4234 2.27297 17.5254 2.62371 16.7181C2.97444 15.9108 3.57944 15.2554 4.78943 13.9444L14.0737 3.88539Z"
              stroke="#5A2006" stroke-width="1.8" stroke-linejoin="round" />
            <path d="M13 3.99991L20 10.9999" stroke="#5A2006" stroke-width="1.8" stroke-linejoin="round" />
            <path d="M14 22H22" stroke="#5A2006" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
      </div>
      <div class="text">
        <div class="texts">Ahmed Malek</div>
        <div class="texts">Lisbon, Turkey</div>
        <div class="texts">+20 12 345 6789</div>
        <div class="texts">x_nomail_x&#64;gmail.com</div>
      </div>
    </div>

    <div class="switches">
      <div class="switch">
        <div class="switch-text">Show Birthday</div>
        <div class="switchOfswitch"><input class="form-check-input" type="checkbox" id="SwitchDefault"></div>
      </div>
      <div class="switch">
        <div class="switch-text">Show E-Mail</div>
        <div class="switchOfswitch2"><input class="form-check-input" type="checkbox" id="SwitchChecked"></div>
      </div>
      <div class="switch">
        <div class="switch-text">Show Phone Number</div>
        <div class="switchOfswitch2"><input class="form-check-input" type="checkbox" id="SwitchChecked"></div>
      </div>
      <div class="switch">
        <div class="switch-text">Show Location</div>
        <div class="switchOfswitch2"><input class="form-check-input" type="checkbox" id="SwitchChecked"></div>
      </div>
      <div class="switch">
        <div class="switch-text">Receive Notifications</div>
        <div class="switchOfswitch"><input class="form-check-input" type="checkbox" id="SwitchDefault"></div>
      </div>
    </div>
      <button class="submit-btn">Save</button>
  </div>
</div>