<div class="container">

  <div class="left-side col-3">

    <div class="pro-img">
      <img src="profile/Profile Image.png" />
        <button class="submit-btn">Update Profile Picture</button>
        <button class="submit-btn2" > Edit Profile & Settings</button>
    </div>
    <br><br>
    <div class="info">
      <div class="info-body">
        <div class="info-text">
          Personal Info.
        </div>
        <div class="any">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M14.0737 3.88539C14.8189 3.07802 15.1915 2.67434 15.5874 2.43887C16.5427 1.8707 17.7191 1.85303 18.6904 2.39226C19.0929 2.61574 19.4769 3.00806 20.245 3.7927C21.0131 4.57734 21.3972 4.96966 21.6159 5.38087C22.1438 6.37306 22.1265 7.57473 21.5703 8.55064C21.3398 8.9551 20.9446 9.33572 20.1543 10.0969L10.7506 19.1542C9.25288 20.5968 8.504 21.3181 7.56806 21.6836C6.63212 22.0492 5.6032 22.0223 3.54536 21.9685L3.26538 21.9612C2.63891 21.9448 2.32567 21.9366 2.14359 21.7299C1.9615 21.5233 1.98636 21.2042 2.03608 20.5661L2.06308 20.2196C2.20301 18.4234 2.27297 17.5254 2.62371 16.7181C2.97444 15.9108 3.57944 15.2554 4.78943 13.9444L14.0737 3.88539Z"
              stroke="#5A2006" stroke-width="1.8" stroke-linejoin="round" />
            <path d="M13 3.99991L20 10.9999" stroke="#5A2006" stroke-width="1.8" stroke-linejoin="round" />
            <path d="M14 22H22" stroke="#5A2006" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
      </div>
      <div class="text">
        <div class="texts">Ahmed Malek</div>
        <div class="texts">Lisbon, Turkey</div>
        <div class="texts">+20 12 345 6789</div>
        <div class="texts">x_nomail_x&#64;gmail.com</div>
      </div>
    </div>
    <div class="switches">
       
      <div class="form-switch ">
        <label class="form-check-label" for="flexSwitchCheckDefault">Show Birthday </label>
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      </div>
      <div class="form-switch">
        <label class="form-check-label" for="flexSwitchCheckChecked">Show E-Mail</label>
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
      </div>
      <div class="form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault">Show Phone Number </label>
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
      </div>
      <div class="form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault">Show Location </label>
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
      </div>
      <div class="form-switch">
        <label class="form-check-label" for="flexSwitchCheckChecked">Receive Notifications</label>
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      </div>
      
     
    </div>

    <div class="many-stats">
      <div class="stats">
        <div class="statsText">Stats</div>
      </div>

      <div class="statsInfo">
        <div class="Info">
          <p class="parghraph">Books Read:</p>
          <p class="values">3</p>
        </div>
        <div class="Info">
          <p class="parghraph">Books Borrowed:</p>
          <p class="values">5</p>
        </div>
        <div class="Info">
          <p class="parghraph">Fav Category:</p>
          <p class="values">Adventure</p>
        </div>
        <div class="Info">
          <p class="parghraph">Reading Time:</p>
          <p class="values">3D-4H-3M </p>
        </div>
        <div class="Info">
          <p class="parghraph">Longest Book:</p>
          <p class="values">Spongebob</p>
        </div>
        <div class="Info">
          <p class="parghraph">Shortest Book:</p>
          <p class="values">Lord of The Chips</p>
        </div>

      </div>

    </div>

  </div>

  <div class="right-side col-9">

    <div class="lastData">
      <div class="dataOfdata">
        <p class="pragh">Your Turn</p>
        <div class="extraData">
          <p class="extra">The Silent Patient<em id="diff"> – Psychological Thriller – 3 days</em></p>
          <p class="extra">Dune<em id="diff"> – Science Fiction – 5 days</em></p>
          <p class="extra">Becoming<em id="diff"> – Biography – 2 days</em></p>
          <p class="extra">The Song of Achilles<em id="diff"> – Historical Fiction – 4 days</em></p>
        </div>
      </div>

      <div class="dataOfdata">
        <p class="pragh">Queue</p>
        <div class="extraData">
          <p class="extra">The Silent Patient<em id="diff"> – Psychological Thriller – 1 Person ahead</em></p>
          <p class="extra">Dune<em id="diff"> – Science Fiction – 2 Persons ahead</em></p>
          <p class="extra">Becoming<em id="diff"> – Biography – 3 Persons ahead</em></p>
          <p class="extra">The Song of Achilles<em id="diff"> – Historical Fiction – 4 Persons ahead</em></p>
        </div>
      </div>
    </div>

    <div class="readList">
      <div class="aboutList">
        <h3 id="readList">Read List</h3>
      </div>

      <div class="bodyOflist">

        <div class="Card">
          <img id="img" src="profile/book.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book2.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book3.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book4.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>
        <div class="Card">
          <img id="img" src="profile/book2.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="readList">
      <div class="aboutList">
        <h3 id="readList">Wish List</h3>
      </div>

      <div class="bodyOflist">

        <div class="Card">
          <img id="img" src="profile/book2.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book4.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book2.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book3.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>
        <div class="Card">
          <img id="img" src="profile/book4.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="readList">
      <div class="aboutList">
        <h3 id="readList">Bookmarks</h3>
      </div>

      <div class="bodyOflist">

        <div class="Card">
          <img id="img" src="profile/book2.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book4.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book2.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

        <div class="Card">
          <img id="img" src="profile/book3.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>
        <div class="Card">
          <img id="img" src="profile/book4.png" alt="">
          <div class="bodyOfcard">
            <div class="group">
              <h3 id="nameOfbook">The Lord Of The Rings</h3>
              <p id="Author">J.R.R. Tolkien</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>